/**
 * Variables
 */
/*
 * Mixins
 */
/**
 * Header styles
 */
/* line 5, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header {
  padding-top: 0;
}

/* line 8, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header .site_header {
  padding-bottom: 0;
}

/* line 11, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header .site_header::after {
  background: none;
}

/* line 17, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo {
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 23, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo .logo_weak {
  font-weight: 400;
}

/* line 26, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo .logo_strong {
  font-weight: 700;
}

/* line 31, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
}

/* line 36, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_tagline > a {
  color: #A9A9A9;
}

/* line 41, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.navbar {
  font-family: 'Metropolis', 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 45, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.header_rss {
  padding-top: 7px;
}

/* line 48, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.header_rss .header_control_icon {
  width: 24px;
  height: 100%;
  line-height: 19px;
  text-align: right;
}

/* line 56, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.header_sliding_sidebar_control {
  padding-top: 7px;
}

/* line 61, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.header_controls .fa:hover, .header_controls .fas:hover {
  color: #FF3B3F;
}

/**
 * Footer styles
 */
/* line 5, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_footer.scss */
.footer_credits {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6d6d6d;
}

/**
 * Home Styles
 */
/* line 6, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon {
  font-size: 18px;
}

/* line 8, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_twitter:hover {
  color: #1DA1F2;
}

/* line 9, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_linkedin:hover {
  color: #0077B5;
}

/* line 10, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_github:hover {
  color: #6e5494;
}

/* line 11, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_medium-m:hover {
  color: #00ab6c;
}

/* line 16, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.alia-about-me img.alia_about_me_image {
  width: 200px;
  float: left;
  margin: -24px 24px -24px 0;
}

/* line 22, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.alia-about-me .text-widget {
  text-align: left;
  line-height: 2em;
}

/* line 31, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .blog_post_container {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/* line 38, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_banner {
  max-height: 400px;
  overflow: hidden;
}

/* line 42, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_banner img {
  filter: brightness(40%);
}

/* line 46, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_banner .spacer {
  width: 100%;
  max-width: 100%;
  height: 200px;
  background-color: #CAEBF2;
  filter: brightness(40%);
  border: 1px solid #f6f6f6;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

/* line 59, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_body {
  position: absolute;
  bottom: 0;
}

/* line 65, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a {
  color: #EFEFEF;
}

/* line 67, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a::before {
  background-color: #EFEFEF;
}

/* line 70, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a::after {
  background: linear-gradient(to right, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eeeeee), color-stop(35%, #eeeeee), color-stop(65%, #eeeeee), color-stop(100%, rgba(255, 255, 255, 0)));
}

/* line 80, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item {
  color: #E0E0E0;
}

/* line 82, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item .post_meta_icon {
  color: #E0E0E0;
}

/* line 83, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item.meta_item_category a {
  color: #E0E0E0;
}

/* line 85, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item.meta_item_category a:hover {
  color: #EFEFEF;
}

/* line 89, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_date_link {
  color: #E0E0E0;
}

/* line 91, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_date_link:hover .post_meta_item {
  color: #EFEFEF;
}

/* line 97, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link .continue_reading_dots {
  float: right;
  margin-left: 0;
}

/* line 101, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link .continue_reading_dots .continue_reading_squares {
  float: left;
}

/* line 105, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link .continue_reading_dots .continue_reading_squares > span {
  width: 2px;
  height: 2px;
  display: block;
  float: left;
  margin-top: 13px;
  margin-right: 3px;
  background-color: #e0e0e0;
  border-radius: 50%;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/* line 120, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link .continue_reading_dots .readmore_icon {
  float: left;
  margin-top: 9px;
  font-size: 10px;
  margin-left: -1px;
  color: #e0e0e0;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/* line 134, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link:hover .continue_reading_dots .continue_reading_squares > span {
  margin-right: 4px;
  background-color: #ff374a;
}

/* line 139, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.post_date_link:hover .continue_reading_dots .readmore_icon {
  margin-left: 1px;
  color: #ff374a;
}

/**
 * Page styles
 */
/* line 5, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.entry-content {
  line-height: 1.5em;
}

/* line 11, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.wpcf7 p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 16, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
  width: 100%;
}

/* line 24, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.blog_post_readmore .continue_reading_dots {
  margin-top: -2px;
}

/* line 28, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.blog_post_readmore a.more-link {
  color: #A9A9A9;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

/* line 37, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.stories_grid_wrapper.row .category_container {
  display: block;
}

/* line 41, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.stories_grid_wrapper.row .category_title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  padding-top: 24px;
  padding-bottom: 8px;
}

/* line 47, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.stories_grid_wrapper.row .category_title::before, .stories_grid_wrapper.row .category_title::after {
  display: none;
}

/* line 52, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_page.scss */
.story_circle .empty_thumbnail_spacer {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #E0E0E0;
}

/*# sourceMappingURL=style.css.map */