/**
 * Variables
 */
/*
 * Mixins
 */
/**
 * Header styles
 */
/* line 5, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header {
  padding-top: 0;
}

/* line 8, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header .site_header {
  padding-bottom: 0;
}

/* line 11, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.gray_header .site_header::after {
  background: none;
}

/* line 17, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo {
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

/* line 23, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo .logo_weak {
  font-weight: 400;
}

/* line 26, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_logo .logo_strong {
  font-weight: 700;
}

/* line 31, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
}

/* line 36, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.text_tagline > a {
  color: #A9A9A9;
}

/* line 41, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.navbar {
  font-family: 'Metropolis', 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 46, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_header.scss */
.header_rss .header_control_icon {
  width: 24px;
  height: 100%;
  line-height: 19px;
  text-align: right;
}

/**
 * Footer styles
 */
/* line 5, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_footer.scss */
.footer_credits {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6d6d6d;
}

/**
 * Home Styles
 */
/* line 6, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon {
  font-size: 18px;
}

/* line 8, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_twitter:hover {
  color: #1DA1F2;
}

/* line 9, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_linkedin:hover {
  color: #0077B5;
}

/* line 10, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_github:hover {
  color: #6e5494;
}

/* line 11, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.social_icons_list .social_icon.social_icon_medium-m:hover {
  color: #00ab6c;
}

/* line 16, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.alia-about-me .text-widget {
  line-height: 1.5em;
}

/* line 24, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .blog_post_container {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

/* line 31, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_banner img {
  filter: brightness(60%);
}

/* line 35, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_body {
  position: absolute;
  bottom: 24px;
}

/* line 41, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a {
  color: #EFEFEF;
}

/* line 43, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a::before {
  background-color: #EFEFEF;
}

/* line 46, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_title a::after {
  background: linear-gradient(to right, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, #eeeeee 0, #eeeeee 35%, #eeeeee 65%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eeeeee), color-stop(35%, #eeeeee), color-stop(65%, #eeeeee), color-stop(100%, rgba(255, 255, 255, 0)));
}

/* line 56, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item {
  color: #E0E0E0;
}

/* line 58, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item .post_meta_icon {
  color: #E0E0E0;
}

/* line 59, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item.meta_item_category a {
  color: #E0E0E0;
}

/* line 61, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_meta_item.meta_item_category a:hover {
  color: #EFEFEF;
}

/* line 65, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_date_link {
  color: #E0E0E0;
}

/* line 67, ../../../../../Users/allen/Projects/alia-child/assets/css/scss/_home.scss */
.blog_index_area .first_full_width .post_date_link:hover .post_meta_item {
  color: #EFEFEF;
}

/*# sourceMappingURL=style.css.map */