/**
 * Header styles
 */

.gray_header {
  padding-top: 0;

  .site_header {
    padding-bottom: 0;

    &::after {
      background: none;
    }
  }
}

.text_logo {
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;

  .logo_weak {
    font-weight: 400;
  }
  .logo_strong {
    font-weight: 700;
    position: relative;
    overflow-y: visible;
  }

  // Logo text flourish
  .logo_strong::after {
    content: '';
    display: block;
    background-color: $color-highlight;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    position: absolute;
    bottom: 2px;
    left: 34px;
    transform: rotate(30deg);
  }
}

.text_tagline {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
  & > a {
    color: $color-subheader-text;
  }
}

.navbar {
  font-family: 'Metropolis', 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header_rss {
  padding-top: 7px;

  .header_control_icon {
    width: 24px;
    height: 100%;
    line-height: 19px;
    text-align: right;
  }
}

.header_sliding_sidebar_control {
  padding-top: 7px;
}

.header_controls {
  .fa:hover, .fas:hover { color: $color-highlight; }
}
