/**
 * Home Styles
 */

.social_icons_list {
  .social_icon { font-size: 18px; }
  .social_icon {
    &.social_icon_twitter:hover { color: $color-twitter; }
    &.social_icon_linkedin:hover { color: $color-linkedin; }
    &.social_icon_github:hover { color: $color-github; }
    &.social_icon_medium-m:hover { color: $color-medium-m; }
  }
}

.alia-about-me {
  img.alia_about_me_image {
    width: 200px;
    float: left;
    margin: -24px 24px -24px 0;
  }

  .text-widget {
    text-align: left;
    line-height: 2em;
  }
}

.blog_index_area {
  // Place the title + meta on top of the post image itself
  .first_full_width {
    .blog_post_container {
      position: relative;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .post_banner {
      max-height: 400px;
      overflow: hidden;

      img {
        min-height: 180px;
        filter: brightness(40%);
      }

      .spacer {
        width: 100%;
        max-width: 100%;
        height: 200px;
        background-color: $color-sky;
        filter: brightness(40%);
        border: 1px solid #f6f6f6;
        border-radius: 7px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .post_body {
      position: absolute;
      bottom: 0;
    }

    .post_title {
      font-size: 20px;
      line-height: 1.3em;
    }

    // Invert all the text colors to show up over the filtered post BG
    .post_title a {
      color: $color-neutral;
      &::before {
        background-color: $color-neutral;
      }
      &::after {
        background: linear-gradient(to right,#eeeeee 0,#eeeeee 35%,#eeeeee 65%,rgba(255, 255, 255, 0.0) 100%);
        background: -ms-linear-gradient(left,#eeeeee 0,#eeeeee 35%,#eeeeee 65%,rgba(255, 255, 255, 0.0) 100%);
        background: -o-linear-gradient(left,#eeeeee 0,#eeeeee 35%,#eeeeee 65%,rgba(255, 255, 255, 0.0) 100%);
        background: -webkit-linear-gradient(left,#eeeeee 0,#eeeeee 35%,#eeeeee 65%,rgba(255, 255, 255, 0.0) 100%);
        background: -moz-linear-gradient(left,#eeeeee 0,#eeeeee 35%,#eeeeee 65%,rgba(255, 255, 255, 0.0) 100%);
        background: -webkit-gradient(linear,left top,right top,color-stop(0%,#eeeeee),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,rgba(255, 255, 255, 0.0)));
      }
    }

    .post_meta_item {
      color: $color-neutral-darker;
      .post_meta_icon { color: $color-neutral-darker; }
      &.meta_item_category a {
        color: $color-neutral-darker;
        &:hover { color: $color-neutral; }
      }
    }

    .post_date_link {
      color: $color-neutral-darker;
      &:hover .post_meta_item { color: $color-neutral; }
    }
  }
}

@media only screen and (min-width: 580px) {
  .first_full_width {
    .post_body {
      margin-left: 49px;
      margin-right: 49px;
    }
  }
}

.post_date_link {
  .continue_reading_dots {
    float: right;
    margin-left: 0;

    .continue_reading_squares {
      float: left;
    }

    .continue_reading_squares > span {
      width: 2px;
      height: 2px;
      display: block;
      float: left;
      margin-top: 13px;
      margin-right: 3px;
      background-color: #e0e0e0;
      border-radius: 50%;
      -o-transition: all 0.15s ease-in;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
    }

    .readmore_icon {
      float: left;
      margin-top: 9px;
      font-size: 10px;
      margin-left: -1px;
      color: #e0e0e0;
      -o-transition: all 0.15s ease-in;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
    }
  }

  &:hover .continue_reading_dots {
    .continue_reading_squares > span {
      margin-right: 4px;
      background-color: #ff374a;
    }

    .readmore_icon {
      margin-left: 1px;
      color: #ff374a;
    }
  }
}
