/**
 * Page styles
 */

.entry-content {
  line-height: 1.5em;
}

// Contact form
.wpcf7 {
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
}

// Articles
.blog_post_readmore {
  .continue_reading_dots {
      margin-top: -2px;
  }

  a.more-link {
    color: $color-subheader-text;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }
}
