/**
 * Single post styles
 */

@use "sass:color";

$color-link-hover: scale-color($color-highlight, $lightness: -50%);

// Featured images & credits
figcaption.credit,
.entry-content figcaption,
.entry-content .wp-caption-text {
  font-size: 13px;
  text-align: center;
  font-style: normal;
  color: $color-subheader-text;
  line-height: 1.4em;
}

body {
  color: #444;
}

.blog_post_container {
  .entry-content {
    line-height: 1.4em;

    // Paragraphs
    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    // Lists
    li {
      line-height: 1.4em;
      margin-bottom: 12px;
    }

    // Quotes
    blockquote {
      margin-top: 40px;
      margin-bottom: 32px;
      font-size: 18px;
      font-family: "Noto Serif", serif;
      line-height: 1.6em;
      cite {
        margin-top: -24px; // Undo the 24px margin bottom from the inline <p>
        letter-spacing: 0;
      }
    }

    // Links
    a {
      @include linkUnderlines(#fff, $color-highlight);
      &:hover { @include linkUnderlines(#fff, $color-link-hover); }
    }

    // Footnotes
    .bigfoot-footnote__button {
      height: auto;
      min-width: auto;
      padding: 3px;
      margin-top: 0.2em;
      border-radius: 0.5em;
      background-color: $color-subheader-text;
      &:hover { background-color: $color-link-hover; }
      .bigfoot-footnote__button__circle {
        width: 4px;
        height: 4px;
        margin-right: 2px;
        &:last-child { margin-right: 0; }
      }
    }

    .bigfoot-footnote {
      border-radius: 7px;
      border: 1px solid #f6f6f6;
      .bigfoot-footnote__content {
        font-size: 90%;
        padding: 12px 18px;
      }
    }

    // Footnote section
    .footnotes {
      font-size: 90%;

      .footnote {
        line-height: 1.3em;
        p {
          padding-left: 8px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
      // Cancel out the link underline rules, and force a Font Awesome icon
      .footnote-return {
        text-shadow: none;
        background-image: none;
        margin-left: 8px;
        img { display: none !important; }
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 14px;
      }
    }
  }
}
