/**
 * Variables
 */

// Colors
$color-highlight: #FF3B3F;
$color-header-text: #6d6d6d;
$color-subheader-text: #A9A9A9;
$color-sky: #CAEBF2;
$color-neutral: #EFEFEF;
$color-neutral-darker: #E0E0E0;

$color-twitter: #1DA1F2;
$color-linkedin: #0077B5;
$color-github: #6e5494;
$color-medium-m: #00ab6c;
